<!DOCTYPE html>
<html>
<head>
    <title>정류소 찾기</title>
    <style>
        /* 전체 페이지의 기본 스타일 설정 */
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        /* 섹션 스타일 */
        .section {
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            border-bottom: 1px solid #ccc; /* 구분선을 위해 */
        }
        /* 버튼 스타일 */
        .find-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }

        .find-search {
            display: inline-block;
            padding: 10px 20px;
            background-color: #444444;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }        
    </style>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>        
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.min.js" integrity="sha512-kmrY+BFhi6ywgfK8hW1ySM/KYU3xPd4elbMhORq3DhacwqmitFrf3GB2HpLj3srV1zFsqxvAcZ4qU+y+ym1Eeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=[카카오API키입력하세요]&libraries=services"></script>      
    <script>
        var psStart = new kakao.maps.services.Places();
        var map = null;
        var markers = [];
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});
        function findStartStation() {
            $("#mapContainer").show();

            var mapContainer = document.getElementById('mapStart'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(37.5664056, 126.9778222), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            map = new kakao.maps.Map(mapContainer, mapOption);             
            var stationInfo = getStationByPositionSync("126.9778222", "37.5664056");
            //console.log(stationInfo);
        }

        function getStationByPositionSync(tmX, tmY) {
            var data = {
                "tmX": tmX,
                "tmY": tmY
            };

            var result = null; //결과를 저장할 변수

            $.ajax({
                url: '/getStationByPos',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(data),
                async: false, // 작업 편의를 위해 동기 요청으로 설정 (비동기는 이 함수 실행시에도 다른 코드가 실행됨)
                success: function(response) {
			        //성공할 경우
                    result = response;
                },
                error: function(xhr, status, error) {
		        // 오류 발생 시 실행될 코드
	                console.error("오류 발생:", xhr, status, error);
                }
            });           
            
            //결과 반환
            return result;
        }


        function getRouteByStationList(arsId) {
            var data = {
                "arsId": arsId
            };

            var result = null; //결과를 저장할 변수

            $.ajax({
                url: '/getRouteByStation',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(data),
                async: false, // 작업 편의를 위해 동기 요청으로 설정 (비동기는 이 함수 실행시에도 다른 코드가 실행됨)
                success: function(response) {
			        //성공할 경우
                    result = response;
                },
                error: function(xhr, status, error) {
		        // 오류 발생 시 실행될 코드
	                console.error("오류 발생:", xhr, status, error);
                }
            });           
            
            //결과 반환
            return result;
        }        

        function getStationByUid(arsId) {
            var data = {
                "arsId": arsId
            };

            var result = null; //결과를 저장할 변수

            $.ajax({
                url: '/getStationByUid',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(data),
                async: false, // 작업 편의를 위해 동기 요청으로 설정 (비동기는 이 함수 실행시에도 다른 코드가 실행됨)
                success: function(response) {
			        //성공할 경우
                    result = response;
                },
                error: function(xhr, status, error) {
		        // 오류 발생 시 실행될 코드
	                console.error("오류 발생:", xhr, status, error);
                }
            });           
            
            //결과 반환
            return result;
        }        


        function getRoutePath(busRouteId) {
            var data = {
                "busRouteId": busRouteId
            };

            var result = null; //결과를 저장할 변수

            $.ajax({
                url: '/getRoutePath',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(data),
                async: false, // 작업 편의를 위해 동기 요청으로 설정 (비동기는 이 함수 실행시에도 다른 코드가 실행됨)
                success: function(response) {
			        //성공할 경우
                    result = response;
                },
                error: function(xhr, status, error) {
		        // 오류 발생 시 실행될 코드
	                console.error("오류 발생:", xhr, status, error);
                }
            });           
            
            //결과 반환
            return result;
        }               

        function getBusPosByRtid(busRouteId) {
            var data = {
                "busRouteId": busRouteId
            };

            var result = null; //결과를 저장할 변수

            $.ajax({
                url: '/getBusPosByRtid',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(data),
                async: false, // 작업 편의를 위해 동기 요청으로 설정 (비동기는 이 함수 실행시에도 다른 코드가 실행됨)
                success: function(response) {
			        //성공할 경우
                    result = response;
                },
                error: function(xhr, status, error) {
		        // 오류 발생 시 실행될 코드
	                console.error("오류 발생:", xhr, status, error);
                }
            });           
            
            //결과 반환
            return result;
        }        
        
        
        function searchStartMap() {
            var searchText = $("#tbStartMapSearch").val();
            searchText = $.trim(searchText);
            if(searchText) {
                psStart.keywordSearch(searchText, placesSearchCB);
            }
        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if(status === kakao.maps.services.Status.OK) { //정상 성공시
                displayPlaces(data);

                var center = map.getCenter();
                var lat = center.getLat();
                var lng = center.getLng();

                var xmlString = getStationByPositionSync(lng, lat);

                var parser = new DOMParser();
                var xmlDoc = parser.parseFromString(xmlString, "text/xml");

                var headerMsg = xmlDoc.getElementsByTagName("headerMsg")[0].childNodes[0].nodeValue;
                if(headerMsg != "정상적으로 처리되었습니다.") {
                    //오류 상황
                    alert(headerMsg);
                    return false;
                }

                removeMarker();

                var itemListElements = xmlDoc.getElementsByTagName("itemList");

                for(var i=0; i < itemListElements.length; i++) {
                    var item = itemListElements[i]; //각 아이템에 엑세스됨

                    var arsId = item.getElementsByTagName("arsId")[0].childNodes[0].nodeValue;   //정류소고유번호
                    var dist = item.getElementsByTagName("dist")[0].childNodes[0].nodeValue;         //거리
                    var gpsX = item.getElementsByTagName("gpsX")[0].childNodes[0].nodeValue;        //정류소 좌표X (WGS84) == lng
                    var gpsY = item.getElementsByTagName("gpsY")[0].childNodes[0].nodeValue;        //정류소 좌표Y (WGS84) == lat
                    var posX = item.getElementsByTagName("posX")[0].childNodes[0].nodeValue;        //정류소 좌표X (GRS80)
                    var posY = item.getElementsByTagName("posY")[0].childNodes[0].nodeValue;        //정류소 좌표Y (GRS80)
                    var stationId = item.getElementsByTagName("stationId")[0].childNodes[0].nodeValue;   //정류소 고유 ID
                    var stationNm = item.getElementsByTagName("stationNm")[0].childNodes[0].nodeValue;  //정류소명
                    var stationTp = item.getElementsByTagName("stationTp")[0].childNodes[0].nodeValue;  //정류소 타입 
                        //(0:공용, 1:일반형 시내/농어촌버스, 2:좌석형 시내/농어촌버스, 3:직행좌석형 시내/농어촌버스, 4:일반형 시외버스, 5:좌석형 시외버스, 6:고속형 시외버스, 7:마을버스)                    

                    var stationPosition = new kakao.maps.LatLng(gpsY, gpsX);

                    marker = addMarker(stationPosition, i);
                    marker.arsId = arsId;
                    marker.lat = gpsY;
                    marker.lng = gpsX;          
                    
                    // 마커와 검색결과 항목에 mouseover 했을때
                    // 해당 장소에 인포윈도우에 장소명을 표시합니다
                    // mouseout 했을 때는 인포윈도우를 닫습니다
                    (function(marker, title) {
                        kakao.maps.event.addListener(marker, 'mouseover', function(){
                            displayInfowindow(marker, title);
                        });

                        kakao.maps.event.addListener(marker, 'click', function(){
                            displayBuswindow(marker, title);
                        });                        

                        kakao.maps.event.addListener(marker, 'mouseout', function(){
                            infowindow.close();
                        });
                    })(marker, stationNm);                    
                }
            }
            else if(status === kakao.maps.services.Status.ZERO_RESULT) {  //검색 결과 없음
                alert("검색 결과가 존재하지 않습니다")
                return;
            }
            else if(status === kakao.maps.services.Status.ERROR) {  //오류 발생
                alert("검색 결과 중 오류가 발생했습니다")
                return;
            }
        }

        function displayBuswindow(marker, title) {
            var xmlString = getRouteByStationList(marker.arsId);
            //console.log(xmlString)

            var parser = new DOMParser();
            var xmlDoc = parser.parseFromString(xmlString, "text/xml");

            var headerMsg = xmlDoc.getElementsByTagName("headerMsg")[0].childNodes[0].nodeValue;
            if(headerMsg != "정상적으로 처리되었습니다.") {
                //오류 상황
                alert(headerMsg);
                return false;
            }            

            // XML 문서에서 'itemList' 태그를 모두 찾기
            var items = xmlDoc.getElementsByTagName("itemList");

            // 각 itemList 요소에 대해 반복
            for (var i = 0; i < items.length; i++) {
                // 각 필드에 접근하여 값을 추출
                var busRouteAbrv = items[i].getElementsByTagName("busRouteAbrv")[0].textContent;
                var busRouteId = items[i].getElementsByTagName("busRouteId")[0].textContent
                var busRouteNm = items[i].getElementsByTagName("busRouteNm")[0].textContent
                var busRouteType = items[i].getElementsByTagName("busRouteType")[0].textContent
                var firstBusTm = items[i].getElementsByTagName("firstBusTm")[0].textContent.trim();
                var firstBusTmLow = items[i].getElementsByTagName("firstBusTmLow")[0].textContent.trim()
                var lastBusTm = items[i].getElementsByTagName("lastBusTm")[0].textContent.trim();
                var lastBusTmLow = items[i].getElementsByTagName("lastBusTmLow")[0].textContent.trim();
                var length = items[i].getElementsByTagName("length")[0].textContent;
                var nextBus = items[i].getElementsByTagName("nextBus")[0].textContent;
                var stBegin = items[i].getElementsByTagName("stBegin")[0].textContent;
                var stEnd = items[i].getElementsByTagName("stEnd")[0].textContent;
                var term = items[i].getElementsByTagName("term")[0].textContent;

                var busContent = "노선 이름: " + busRouteNm;

                $("#tabs ul").append("<li data-busid='"+busRouteId+"' data-stationlat='"+marker.lat+"' data-stationlng='"+marker.lng+"'><a href='#tab-"+i+"'>"+busRouteNm+"</a></li>");
                $("#tabs").append("<div id='tab-"+i+"'>"+busContent+"<div style='height:500px; width:100%' id='busMap_"+busRouteId+"'></div></div>");

                //각 노선 정보를 콘솔에 출력해 보기
               /* console.log("노선 약어: " + busRouteAbrv);
                console.log("노선 ID: " + busRouteId);
                console.log("노선 이름: " + busRouteNm);
                console.log("노선 유형: " + busRouteType);
                console.log("첫차 시간: " + firstBusTm);
                console.log("첫차 시간(저상): " + firstBusTmLow);
                console.log("막차 시간: " + lastBusTm);
                console.log("막차 시간(저상): " + lastBusTmLow);
                console.log("노선 길이: " + length + "km");
                console.log("다음 버스: " + nextBus + "분 후");
                console.log("시작 정류장: " + stBegin);
                console.log("종료 정류장: " + stEnd);
                console.log("배차 간격: " + term + "분");                */
            }            

            //노선 정보를 div 팝업으로 띄우기
            $("#busWindow").bPopup({
                onClose: function() {
                    // 탭을 초기화하여 팝업이 닫힐 때 탭을 제거합니다.
                    $("#tabs").tabs("destroy");
                    $("#tabs").html("<ul></ul>")
                }
            });

            var xmlString2 = getStationByUid(marker.arsId);
            console.log(xmlString2);
            var parser = new DOMParser();
            var xmlDoc = parser.parseFromString(xmlString2, "text/xml");

            var headerMsg = xmlDoc.getElementsByTagName("headerMsg")[0].childNodes[0].nodeValue;
            if(headerMsg != "정상적으로 처리되었습니다.") {
                //오류 상황
                alert(headerMsg);
                return false;
            }            

            // XML 문서에서 'itemList' 태그를 모두 찾기
            var items = xmlDoc.getElementsByTagName("itemList");

            // 각 itemList 요소에 대해 반복
            for (var i = 0; i < items.length; i++) {
                var busRouteId = items[i].getElementsByTagName("busRouteId")[0].textContent
                var arrmsg1 = items[i].getElementsByTagName("arrmsg1")[0].textContent  //1번째 버스 도착정보

                arrmsg1 = arrmsg1.replace(/\[.*?\]/g, ''); //a 태그 : 5분후[4번째]   ->  대괄호와 그 속의 내용 모두 제거하기

                var liElements = document.querySelectorAll("li[data-busid]");
                var targetLi = Array.from(liElements).find(li => li.getAttribute('data-busid') === busRouteId);
                if(targetLi) {
                    //a 태그 찾기
                    var aTag = targetLi.querySelector('a');
                    if(aTag) {
                        aTag.innerHTML += "<Br>("+arrmsg1+")";
                    }
                }
            }

            $("#tabs").tabs({
                activate: function(event, ui) {
                    var tabObj = $(ui.newTab);
                    var busRouteId = tabObj.data("busid");
                    var stationLat = tabObj.data("stationlat");
                    var stationLng = tabObj.data("stationlng");
                    console.log(busRouteId)
                    var xmlString2 = getRoutePath(busRouteId);
                    //console.log(xmlString2)

                    var parser2 = new DOMParser();
                    var xmlDoc2 = parser2.parseFromString(xmlString2, "text/xml");

                    var headerMsg2 = xmlDoc2.getElementsByTagName("headerMsg")[0].childNodes[0].nodeValue;
                    if(headerMsg2 != "정상적으로 처리되었습니다.") {
                        //오류 상황
                        alert(headerMsg2);
                        return false;
                    }            

                    // XML 문서에서 'itemList' 태그를 모두 찾기
                    var positions = [];
                    var bounds = new kakao.maps.LatLngBounds();

                    var routeItems = xmlDoc2.getElementsByTagName("itemList");     
                    for(var i=0; i < routeItems.length; i++) {
                        var gpsX = routeItems[i].getElementsByTagName("gpsX")[0].textContent;  //경도
                        var gpsY = routeItems[i].getElementsByTagName("gpsY")[0].textContent;   //위도
                        var no = routeItems[i].getElementsByTagName("no")[0].textContent;   //순번
                        positions.push({
                            "latlng": new kakao.maps.LatLng(gpsY, gpsX),
                            "no": no
                        })
                    }      

                    var mapId = "busMap_"+busRouteId;

                    var mapContainerTemp = document.getElementById(mapId), // 지도를 표시할 div 
                        mapOptionTemp = { 
                            center: new kakao.maps.LatLng(37.5664056, 126.9778222), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                    var mapTemp = new kakao.maps.Map(mapContainerTemp, mapOptionTemp);        
                    
                    var linePath = [];

                    for(var j=0; j < positions.length; j++) {
/*                        var marker = new kakao.maps.Marker({
                            "map": mapTemp,
                            "position": positions[j].latlng
                        });*/

                        bounds.extend(positions[j].latlng);
                        linePath.push(positions[j].latlng);
                    }

                    // Polyline을 생성합니다
                    var polyline = new kakao.maps.Polyline({
                        path: linePath, // 선을 구성하는 좌표배열
                        strokeWeight: 5, // 선의 두께
                        strokeColor: '#000000', // 선의 색깔
                        strokeOpacity: 0.7, // 선의 불투명도
                        strokeStyle: 'solid' // 선의 스타일
                    });         
                    
                    polyline.setMap(mapTemp);

                    mapTemp.setBounds(bounds);

                    //노선ID로 버스 위치 확인
                    var xmlString2 = getBusPosByRtid(busRouteId);
                    console.log(xmlString2)

                    var parser2 = new DOMParser();
                    var xmlDoc2 = parser2.parseFromString(xmlString2, "text/xml");

                    var headerMsg2 = xmlDoc2.getElementsByTagName("headerMsg")[0].childNodes[0].nodeValue;
                    if(headerMsg2 != "정상적으로 처리되었습니다.") {
                        //오류 상황
                        alert(headerMsg2);
                        return false;
                    }            

                    // XML 문서에서 'itemList' 태그를 모두 찾기
                    var positionsBus = [];
                    var bounds = new kakao.maps.LatLngBounds();

                    var routeItems = xmlDoc2.getElementsByTagName("itemList");     
                    for(var i=0; i < routeItems.length; i++) {
                        var gpsX = routeItems[i].getElementsByTagName("gpsX")[0].textContent;  //경도
                        var gpsY = routeItems[i].getElementsByTagName("gpsY")[0].textContent;   //위도
                        var plainNo = routeItems[i].getElementsByTagName("plainNo")[0].textContent;   //차량번호
                        var vehId = routeItems[i].getElementsByTagName("vehId")[0].textContent;   //차량ID                        
                        positionsBus.push({
                            "latlng": new kakao.maps.LatLng(gpsY, gpsX),
                            "no": plainNo
                        })
                    }    

                    //버스 이미지 마커 설정
                    var imageSrc = "/templates/bus.png";                      
                    var imageSize = new kakao.maps.Size(20, 20);  //가로 세로 20픽셀 크기
                    var imageOption = {offset: new kakao.maps.Point(0,0)}; //마거 이미지 옵션으로, 이미지 안의 좌표 설정

                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

                    for(var i=0; i < positionsBus.length; i++) {
                        var position = positionsBus[i];

                        //이미지 마커를 생성하여 지도에 표시
                        var marker = new kakao.maps.Marker({
                            map: mapTemp,
                            position: position.latlng,
                            image: markerImage
                        });
                    }

                    var positionStation = new kakao.maps.LatLng(stationLat, stationLng);

                    var marker = new kakao.maps.Marker({
                        map: mapTemp,
                        position: positionStation
                    });
                }
            });
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }   
            markers = [];
        }        

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker(position, idx) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions =  {
                    spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage 
                });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }             

        //지도에 마커 출력
        function displayPlaces(places) {
            var bounds = new kakao.maps.LatLngBounds();

            for(var i=0; i < places.length; i++) {
                var x = places[i].x;
                var y = places[i].y;
                var placePosition = new kakao.maps.LatLng(y, x);

                //LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);
            }
            map.setBounds(bounds);
        }
    </script>
</head>    
<body>

    <div class="section" id="departure-section">
        <!-- 출발 정류소 섹션 내용 -->
        <div style="width:100%; display: inline-block;">
            <div style="float:left; width:200px">
                <h2>출발 정류소</h2>
            </div>
            <div style="float:left; padding-top:20px">
                <button class="find-button" onclick="findStartStation()">찾기</button>            
            </div>
        </div>

        <div style="width:100%; display: none;" id="mapContainer">
            <div style="width:100%; display: inline-box; text-align: center;">
                <input type="text" style="width:400px; height: 35px;" id="tbStartMapSearch"> <button class="find-search" onclick="searchStartMap();">키워드 검색</button>
            </div>
            <div style="width:100%; margin-top: 20px;">
                <div id="mapStart" style="width: 100%; height: 350px;"></div>
            </div>
        </div>        
    </div>
    
    <div class="section" id="departure-section">
        <!-- 도착 정류소 섹션 내용 -->
        <div style="width:100%; display: inline-block;">
            <div style="float:left; width:200px">
                <h2>도착 정류소</h2>
            </div>
            <div style="float:left; padding-top:20px">
                <button class="find-button">찾기</button>            
            </div>
        </div>
    
    </div>

    <div id="busWindow" style="width:1000px; min-height:700px; background-color: white; border:1px solid #aaaaaa; display:none">
        <div id="tabs">
            <ul>
                <!-- 탭 제목들이 여기에 동적으로 생성됩니다 -->
            </ul>
            <!-- 각 탭의 내용이 여기에 동적으로 생성됩니다 -->
        </div>        
    </div>    
    
    </body>
</html>
    